{% extends "elements/base.html" %}
      
{% block page_content %}
    <div class="papr-container-main" style="transform: none;">
        <section class="banner banner__default bg-overlay">
            <div class="bg-category"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="post-title-wrapper" style="text-align:center">
                            <h1 class="m-b-xs-0 axil-post-title hover-line">Contents</h1><div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb" style="justify-content:center">
                            <span property="itemListElement" typeof="ListItem">
                                <a property="item" typeof="WebPage" title="Go to Papr." href="index.html" class="home">
                                    <span property="name">Home</span></a><meta property="position" content="1"></span>
                                </a>
                                <meta property="position" content="2">
                            </span>
                            <span class="dvdr"> / </span><span class="archive taxonomy category current-item">Contents</span></nav>			
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section> 
    </div>
    <div class="papr-container-main">
        <div data-elementor-type="wp-page" data-elementor-id="18" class="elementor elementor-18" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-element elementor-element-68b9724 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="68b9724" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-6cc7c12 elementor-column elementor-col-100 elementor-top-column" data-id="6cc7c12" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-9a08bce elementor-widget elementor-widget-axilnews-post-grid" data-id="9a08bce" data-element_type="widget" data-widget_type="axilnews-post-grid.default">
                                            <div class="elementor-widget-container">
                                                <div class="axil-trending-news allow-custom-width-height">
                                                    <div class="recent-news-holder row">
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <div class="media post-block m-b-xs-30">
                                                                <div class="card" >
                                                                    {% load static %}
                                                                    <img class="img-fluid m-r-xs-30 lazyloaded" src="{% static 'img\\bg1.jpg' %}" alt="Card image cap" style="width:300rem">
                                                                    
                                                                    <div class="card-body">
                                                                        <div class="post-cat-group m-b-xs-10">
                                                                            <a class="post-cat cat-btn" style="background: rgb(235,115,118,0.35); color:#F3494E;" href="#">
                                                                            Neutral</a>
                                                                         </div>
                                                                         <h3 class="axil-post-title hover-line hover-line">
                                                                            <a href="#">Get the Illusion of Fuller Lashes by “Mascara-stamping.”</a>
                                                                        </h3>
                                                                      <div class="post-metas caption-meta">
                                                                        <ul class="list-inline">
                                                                           <li>
                                                                               <span class="post-meta-view rising"><i class="far fa-calendar-alt"></i> 2020-02-27</span> 
                                                                            </li>
                                                                        </ul>
                                                                     </div>
                                                                      <p class="mid" style="margin-top: 20px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <div class="media post-block m-b-xs-30">
                                                                <div class="card" >
                                                                    {% load static %}
                                                                    <img class="img-fluid m-r-xs-30 lazyloaded" src="{% static 'img\\bg1.jpg' %}" alt="Card image cap" style="width:300rem">

                                                                    <div class="card-body">
                                                                        <div class="post-cat-group m-b-xs-10">
                                                                            <a class="post-cat cat-btn" style="background: rgb(118,178,122,0.35); color:#3E7542;" href="#">
                                                                            Neutral</a>
                                                                         </div>
                                                                         <h3 class="axil-post-title hover-line hover-line">
                                                                            <a href="#">Get the Illusion of Fuller Lashes by “Mascara-stamping.”</a>
                                                                        </h3>
                                                                      <div class="post-metas caption-meta">
                                                                        <ul class="list-inline">
                                                                           <li>
                                                                               <span class="post-meta-view rising"><i class="far fa-calendar-alt"></i> 2020-02-27</span> 
                                                                            </li>
                                                                        </ul>
                                                                     </div>
                                                                      <p class="mid" style="margin-top: 20px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <div class="media post-block m-b-xs-30">
                                                                <div class="card" >
                                                                    {% load static %}
                                                                    <img class="img-fluid m-r-xs-30 lazyloaded" src="{% static 'img\\bg1.jpg' %}" alt="Card image cap" style="width:300rem">
                                                                    
                                                                    <div class="card-body">
                                                                        <div class="post-cat-group m-b-xs-10">
                                                                            <a class="post-cat cat-btn" style="background: rgb(111,109,197,0.35); color:#3934F2;" href="#">
                                                                            Neutral</a>
                                                                         </div>
                                                                         <h3 class="axil-post-title hover-line hover-line">
                                                                            <a href="#">Get the Illusion of Fuller Lashes by “Mascara-stamping.”</a>
                                                                        </h3>
                                                                      <div class="post-metas caption-meta">
                                                                        <ul class="list-inline">
                                                                            <li>
                                                                               <span class="post-meta-view rising"><i class="far fa-calendar-alt"></i> 2020-02-27</span> 
                                                                            </li>
                                                                        </ul>
                                                                     </div>
                                                                      <p class="mid" style="margin-top: 20px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            <div class="mt20 col-sm-12 col-xs-12 pagination-wrapper">
                                                    <div class="axil-post-pagination">
                                                        <ul class="axil-post-pagination-holder" style="justify-content:center;">
                                                            <li style="pointer-events:none; opacity: .6;" aria-disabled="true"><a href="#"><i class="fas fa-backward"></i></a></li>
                                                            <li class="active"><a href="#">1</a></li>
                                                            <li><a href="#">2</a></li>
                                                            <li><a href="#">3</a></li>
                                                            <li><a href="#"> <i class="fas fa-chevron-right"></i></a></li>
                                                        </ul>
                                                </div>
                                                </div>
                                            
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- {% load static %}
    <img src="{% static 'img\\download.jpg' %}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100"> -->
{% endblock %}
