{% extends "elements/base.html" %}
      
{% block page_content %}
    <div class="papr-container-main">
        <div data-elementor-type="wp-page" data-elementor-id="18" class="elementor elementor-18" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-element elementor-element-afd55e3 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="afd55e3" data-element_type="section">              
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-0f7a277 elementor-column elementor-col-100 elementor-top-column" data-id="0f7a277" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-b51a110 elementor-widget elementor-widget-axilnews-blog-post-banner" data-id="b51a110" data-element_type="widget" data-widget_type="axilnews-blog-post-banner.default">
                                                <div class="elementor-widget-container">
                                                    <div class="axil-single-lg2 clearfix">
                                                        <div class="axil-single-wrp">
                                                            <div class="banner-home__with-post">
                                                                {% load static %}
                                                                <div class="banner-left-content p-l-md-80 load-anim-wrapper lazyloaded" data-bg="{% static 'img\\bg1.jpg' %}" style="background-image: url(&quot;static/img/baground.png&quot;);">
                                                                    <div class="post-title-wrapper post-meta-primary">						
                                                                        <h3 class="m-t-xs-20 m-b-xs-10 axil-post-title hover-line color-white txt-shadow  load-anim" style="opacity: 1; top: 0px;">
                                                                            This is the right place!
                                                                        </h3>
                                                                        <p class="big color-white m-b-xs-20 load-anim" style="opacity: 1; top: 0px;">Lihat konten berita terkini dan terlengkap</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </section>
                    <section class="elementor-element elementor-element-1b67e40 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="1b67e40" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-b80d14f elementor-column elementor-col-100 elementor-top-column" data-id="b80d14f" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-f9b394b elementor-widget elementor-widget-axilnews-post-category-list" data-id="f9b394b" data-element_type="widget" data-widget_type="axilnews-post-category-list.default">
                                                <div class="elementor-widget-container">
                                                    <div class="axil-banner-cat-counter_slider">				
                                                        <div class="axil-content_slider">
                                                            <div class="category-list-wrapper_slider">
                                                                <div class="owl-wrap axil-nav-control-auto">
                                                                    <div class="axil-papr-carousel owl-carousel owl-loaded owl-drag" data-carousel-options="{&quot;nav&quot;:true,&quot;dots&quot;:false,&quot;navText&quot;:[&quot;<i class='fa fa-angle-left'><\/i>&quot;,&quot;<i class='fa fa-angle-right'><\/i>&quot;],&quot;autoplay&quot;:false,&quot;loop&quot;:false,&quot;margin&quot;:0,&quot;responsive&quot;:{&quot;768&quot;:{&quot;items&quot;:&quot;2&quot;},&quot;992&quot;:{&quot;items&quot;:&quot;4&quot;},&quot;1200&quot;:{&quot;items&quot;:&quot;3&quot;}}}">   
                                                                        <div class="owl-stage-outer">
                                                                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1200px;">
                                                                                <div class="owl-item active" style="width: 365px;">
                                                                                    <div class="category-list_slider perfect-square">
                                                                                        {% load static %}
                                                                                        <a href="http://axilthemes.com/themes/papr/category/accessories/" class="list-inner_slider" style="background-image: url(static/img/bg4.jpg)">
                                                                                            <div class="post-info-wrapper_slider overlay"> 
                                                                                                <div class="counter-inner_slider">Positive</div>
                                                                                                <h4 class="cat-title_slider">Contents</h4>
                                                                                            </div>						
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="owl-item active" style="width: 365px;">
                                                                                    <div class="category-list_slider perfect-square">
                                                                                        {% load static %}
                                                                                        <a href="http://axilthemes.com/themes/papr/category/contests/" class="list-inner_slider" style="background-image: url(static/img/bg1.jpg)">
                                                                                            <div class="post-info-wrapper_slider overlay"> 
                                                                                                <div class="counter-inner_slider">Negative</div>
                                                                                                <h4 class="cat-title_slider">Contents</h4>
                                                                                            </div>						
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="owl-item active" style="width: 365px;">
                                                                                    <div class="category-list_slider perfect-square">
                                                                                        {% load static %}
                                                                                        <a href="http://axilthemes.com/themes/papr/category/electronics/" class="list-inner_slider" style="background-image: url(static/img/bg3.jpg)">
                                                                                            <div class="post-info-wrapper_slider overlay"> 
                                                                                                <div class="counter-inner_slider">Neutral</div>
                                                                                                <h4 class="cat-title_slider">Contents</h4>
                                                                                            </div>						
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    <div class="owl-nav disabled">
                                                                        <button type="button" role="presentation" class="owl-prev disabled">
                                                                            <i class="fa fa-angle-left"></i>
                                                                        </button>
                                                                        <button type="button" role="presentation" class="owl-next disabled">
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="owl-dots disabled"></div>
                                                                    <div class="owl-nav disabled">
                                                                        <button type="button" role="presentation" class="owl-prev disabled">
                                                                            <i class="fa fa-angle-left"></i></button>
                                                                            <button type="button" role="presentation" class="owl-next disabled">
                                                                                <i class="fa fa-angle-right"></i>
                                                                            </button>
                                                                        </div>
                                                                        <div class="owl-dots disabled"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-element elementor-element-68b9724 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="68b9724" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1684px; left: 0px;">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-6cc7c12 elementor-column elementor-col-100 elementor-top-column" data-id="6cc7c12" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-9a08bce elementor-widget elementor-widget-axilnews-post-grid" data-id="9a08bce" data-element_type="widget" data-widget_type="axilnews-post-grid.default">
                                            <div class="elementor-widget-container">
                                                <div class="axil-trending-news allow-custom-width-height">
                                                    <div class="section-title m-b-xs-30">
                                                    <h2 class="axil-title">Latest News</h2>					
                                                    </div>
                                                    <div class="recent-news-holder row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="media post-block m-b-xs-30">
                                                            <a class="align-self-center" href="#">
                                                                
                                                                <img class="img-fluid m-r-xs-30 ls-is-cached lazyloaded" src="/static/img/cont1.png" alt="girl in the forest">
                                                                <div class="grad-overlay"></div>
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="post-cat-group m-b-xs-10">
                                                                <a class="post-cat cat-btn" style="background: rgb(235,115,118,0.35); color:#F3494E;" href="#"> Negative Content </a>
                                                                </div>
                                                                <h3 class="axil-post-title hover-line hover-line">
                                                                <a href="#">Get the Illusion of Fuller Lashes by “Mascara-stamping.”</a>
                                                                </h3>
                                                                <div class="post-metas caption-meta">
                                                                <ul class="list-inline">
                                                                    <li><span class="post-meta-view  high"><i class="far fa-calendar-alt" aria-hidden="true"></i> 2020-12-03</span> </li>
                                                                </ul>
                                                                </div>
    <p class="mid">For those of us who want to say thank you to our moms, it’s not always easy to put those big feelings in words.&nbsp;Which is</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="media post-block m-b-xs-30">
                                                            <a class="align-self-center" href="#">
                                                                
                                                                <img class="img-fluid m-r-xs-30 ls-is-cached lazyloaded" src="/static/img/cont1.png" alt="girl in the forest">
                                                                <div class="grad-overlay"></div>
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="post-cat-group m-b-xs-10">
                                                                <a class="post-cat cat-btn" style="background: rgb(235,115,118,0.35); color:#F3494E;" href="#"> Negative Content </a>
                                                                </div>
                                                                <h3 class="axil-post-title hover-line hover-line">
                                                                <a href="#">Get the Illusion of Fuller Lashes by “Mascara-stamping.”</a>
                                                                </h3>
                                                                <div class="post-metas caption-meta">
                                                                <ul class="list-inline">
                                                                    <li><span class="post-meta-view  high"><i class="far fa-calendar-alt" aria-hidden="true"></i> 2020-12-03</span> </li>
                                                                </ul>
                                                                </div>
    <p class="mid">For those of us who want to say thank you to our moms, it’s not always easy to put those big feelings in words.&nbsp;Which is</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="media post-block m-b-xs-30">
                                                            <a class="align-self-center" href="#">
                                                                
                                                                <img class="img-fluid m-r-xs-30 ls-is-cached lazyloaded" src="/static/img/cont2.png" alt="girl in the forest">
                                                                <div class="grad-overlay"></div>
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="post-cat-group m-b-xs-10">
                                                                    <a class="post-cat cat-btn" style="background: rgb(118,178,122,0.35); color:#3E7542;" href="#"> Positive Content </a>
                                                                </div>
                                                                <h3 class="axil-post-title hover-line hover-line">
                                                                <a href="#">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
                                                                </h3>
                                                                <div class="post-metas caption-meta">
                                                                <ul class="list-inline">
                                                                    <li><span class="post-meta-view  high"><i class="far fa-calendar-alt" aria-hidden="true"></i> 2019-12-14</span> </li>
                                                                </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><div class="col-lg-6 col-md-6 col-sm-12">
                                                        <div class="media post-block m-b-xs-30">
                                                            <a class="align-self-center" href="#">
                                                                
                                                                <img class="img-fluid m-r-xs-30 ls-is-cached lazyloaded" src="/static/img/cont3.png" alt="girl in the forest">
                                                                <div class="grad-overlay"></div>
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="post-cat-group m-b-xs-10">
                                                                <a class="post-cat cat-btn" style="background: rgb(111,109,197,0.35); color:#3934F2;" href="#"> Neutral Content </a>
                                                                </div>
                                                                <h3 class="axil-post-title hover-line hover-line">
                                                                <a href="#">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
                                                                </h3>
                                                                <div class="post-metas caption-meta">
                                                                <ul class="list-inline">
                                                                    <li><span class="post-meta-view  high"><i class="far fa-calendar-alt" aria-hidden="true"></i> 2019-12-15</span> </li>
                                                                </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></section>
                    <section class="elementor-element elementor-element-4969a2fe elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="4969a2fe" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-row">
                        <div class="elementor-element elementor-element-754dbfad elementor-column elementor-col-100 elementor-top-column" data-id="754dbfad" data-element_type="column">
                        <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                        <div class="elementor-widget-container">
                        <div class="axil-trending-news allow-custom-width-height">
                        <div class="section-title m-b-xs-30">
                        <h2 class="axil-title">Trending Stories</h2>
                        <a class="btn-link ml-auto" href="/trend">See All</a>					</div>
                        <div class="recent-news-holder row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="media post-block m-b-xs-30">
                          
                        <div class="media-body">
                        <div class="post-cat-group m-b-xs-10">
                        <a class="post-cat cat-btn" style="background:#ff9500" href="http://axilthemes.com/themes/papr/category/business/">
                        Business                </a>
                        </div>
                        <h3 class="axil-post-title hover-line hover-line">
                        <a href="http://axilthemes.com/themes/papr/will-the-democrats-be-able-to-reverse-the-online-gambling-ban-3/">Will The Democrats Be Able To Reverse The Online Gambling Ban</a>
                        </h3>	
                        <div class="post-metas caption-meta">
                        <ul class="list-inline">
                        <li>
                        <span>By</span> <a href="http://axilthemes.com/themes/papr/author/admin/"><span class="vcard author author_name"><span class="fn">Ashley Graham</span></span></a>                    </li>
                        
                        </ul>
                        </div>
                        </div>
                        </div>					
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="media post-block m-b-xs-30">
                          
                        <div class="media-body">
                        <div class="post-cat-group m-b-xs-10">
                        <a class="post-cat cat-btn" style="background:#3f5573" href="http://axilthemes.com/themes/papr/category/world/">
                        World                </a>
                        </div>
                        <h3 class="axil-post-title hover-line hover-line">
                        <a href="http://axilthemes.com/themes/papr/increasing-prosperity-with-positive-thinking/">Increasing Prosperity With Positive Thinking</a>
                        </h3>	
                        <div class="post-metas caption-meta">
                        <ul class="list-inline">
                        <li>
                        <span>By</span> <a href="http://axilthemes.com/themes/papr/author/admin/"><span class="vcard author author_name"><span class="fn">Ashley Graham</span></span></a>                    </li>
                        
                        </ul>
                        </div>
                        </div>
                        </div>					
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="media post-block m-b-xs-30">
                          
                        <div class="media-body">
                        <div class="post-cat-group m-b-xs-10">
                        <a class="post-cat cat-btn" style="background:#5ac8fa" href="http://axilthemes.com/themes/papr/category/science/">
                        Science                </a>
                        </div>
                        <h3 class="axil-post-title hover-line hover-line">
                        <a href="http://axilthemes.com/themes/papr/old-fashioned-recipe-for-preventing-allergies-and-chemical-sensitivities/">Old Fashioned Recipe For Preventing Allergies And Chemical Sensitivities</a>
                        </h3>	
                        <div class="post-metas caption-meta">
                        <ul class="list-inline">
                        <li>
                        <span>By</span> <a href="http://axilthemes.com/themes/papr/author/admin/"><span class="vcard author author_name"><span class="fn">Ashley Graham</span></span></a>                    </li>
                        
                        </ul>
                        </div>
                        </div>
                        </div>					
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="media post-block m-b-xs-30">
                          
                        <div class="media-body">
                        <div class="post-cat-group m-b-xs-10">
                        <a class="post-cat cat-btn" style="background:#ffd400" href="http://axilthemes.com/themes/papr/category/social/">
                        Social                </a>
                        </div>
                        <h3 class="axil-post-title hover-line hover-line">
                        <a href="http://axilthemes.com/themes/papr/psychologists-use-this-painting-to-determine-personality/">Psychologists Use This Painting To Determine Personality</a>
                        </h3>	
                        <div class="post-metas caption-meta">
                        <ul class="list-inline">
                        <li>
                        <span>By</span> <a href="http://axilthemes.com/themes/papr/author/admin/"><span class="vcard author author_name"><span class="fn">Ashley Graham</span></span></a>                    </li>
                        
                        </ul>
                        </div>
                        </div>
                        </div>					
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="media post-block m-b-xs-30">
                          
                        <div class="media-body">
                        <div class="post-cat-group m-b-xs-10">
                        <a class="post-cat cat-btn" style="background:#ff9500" href="http://axilthemes.com/themes/papr/category/business/">
                        Business                </a>
                        </div>
                        <h3 class="axil-post-title hover-line hover-line">
                        <a href="http://axilthemes.com/themes/papr/hypnotherapy-for-motivation-getting-the-drive-back-4/">Hypnotherapy For Motivation Getting The Drive Back</a>
                        </h3>	
                        <div class="post-metas caption-meta">
                        <ul class="list-inline">
                        <li>
                        <span>By</span> <a href="http://axilthemes.com/themes/papr/author/admin/"><span class="vcard author author_name"><span class="fn">Ashley Graham</span></span></a>                    </li>
                        
                        </ul>
                        </div>
                        </div>
                        </div>					
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="media post-block m-b-xs-30">
                          
                        <div class="media-body">
                        <div class="post-cat-group m-b-xs-10">
                        <a class="post-cat cat-btn" style="background:#ffd400" href="http://axilthemes.com/themes/papr/category/social/">
                        Social                </a>
                        </div>
                        <h3 class="axil-post-title hover-line hover-line">
                        <a href="http://axilthemes.com/themes/papr/napolean-dynomite-inspired-this-artist-to-create-a-masterpiece/">Napolean Dynomite Inspired This Artist To Create A Masterpiece</a>
                        </h3>	
                        <div class="post-metas caption-meta">
                        <ul class="list-inline">
                        <li>
                        <span>By</span> <a href="http://axilthemes.com/themes/papr/author/admin/"><span class="vcard author author_name"><span class="fn">Ashley Graham</span></span></a>                    </li>
                        
                        </ul>
                        </div>
                        </div>
                        </div>					
                        </div>
                        
                        
                        </div>
                        </div>		</div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </section>
                        <section id="features" class="section features">
                            <div class="container">
                                <div class="section-heading text-center">
                                    <h2>Papr's Theme Features</h2>
                                    <p>We built Papr with your business in mind so that we can match all your expectations.</p>
                                </div>
                                <!-- End of .section-heading -->
                                <div class="box-content-wrapper">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fas fa-dice-one"></i>
                                                <h3>Full demo with One Click Installation</h3>
                                                <p>One click demo installation features you can easily get the site look demo just 5 min.</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fab fa-elementor"></i>
                                                <h3>Elementor Page Builder</h3>
                                                <p>Elementor is the best WordPress Page Builder, with over +3,000,000 active installs. Create beautiful websites using a simple, intuitive drag and drop Interface. Live Front End Editing.</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fas fa-newspaper"></i>
                                                <h3>Gutenberg Support</h3>
                                                <p>“Gutenberg” is a codename for a whole new paradigm in WordPress site building and publishing, that aims to revolutionize the entire publishing experience as much as Gutenberg did the printed word.</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fas fa-cart-plus"></i>
                                                <h3>Fully WooCommerce Ready</h3>
                                                <p>The most customizable eCommerce platform for building your online business. With 78,647,421 downloads, WooCommerce powers over 28% of all online stores.</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fas fa-cogs"></i>
                                                <h3>Power Full Theme Options (Redux Framework)</h3>
                                                <p>The most powerful, flexible, and complete WordPress interface and panel builder ever!</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fab fa-adversal"></i>
                                                <h3>Ads Management</h3>
                                                <p>Advertising is a marketing tactic involving paying for space to promote a product, service, or cause. The actual promotional messages are called advertisements</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fas fa-edit"></i>
                                                <h3>RTL Language Support</h3>
                                                <p>Arabic, Hebrew, Persian, and Urdu Sindhi are the most widespread RTL writing systems in modern times.</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fal fa-mobile-android"></i>
                                                <h3>Fully Responsive Layout</h3>
                                                <p>All the pages of this theme are responsive. We used Bootstrap 4.x framework to build
                                                the website. It’s the best in class. </p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <!-- End of .col-4 -->
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fal fa-file"></i>
                                                <h3>25+ Resourceful Pages</h3>
                                                <p>All the pages are created based on real contents that you will need to run your business.
                                                Change image and text and you’re good to go! </p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <!-- End of .col-4 -->
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fab fa-font-awesome-alt"></i>
                                                <h3>Font Awesome 5 Pro Icons</h3>
                                                <p>This theme comes with licensed premium quality icons from FontAwesome. All the icons
                                                are font based and ready to match the quality of any HQ screen.</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <!-- End of .col-4 -->
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fab fa-google"></i>
                                                <h3>Google Font</h3>
                                                <p>A vast collection of Google fonts are integrated with the theme. You can use any of
                                                    them that goes with your branding.
                                                </p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <!-- End of .col-4 -->
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fal fa-map-marker-smile"></i>
                                                <h3>Google Maps</h3>
                                                <p>If you have multiple locations for your business, it’s very easy to integrate them to our
                                                theme. Adding/removing map location is just matter of few clicks. </p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <!-- End of .col-4 -->
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fal fa-share-alt"></i>
                                                <h3>SEO &amp; SMM Friendly</h3>
                                                <p>Our theme is SEO and SMM friendly that aligns with your digital marketing strategies
                                                to bring more organic traffic to your website.</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <!-- End of .col-4 -->
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fas fa-shipping-fast"></i>
                                                <h3>Faster Loading</h3>
                                                <p>Moreover, your website speed is very important for your SEO. If your website loads fast, your ranking in search engines will be higher.</p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <!-- End of .col-4 -->
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="content text-left">
                                                <i class="fas fa-sync-alt"></i>
                                                <h3>Lifetime Update</h3>
                                                <p>Purchase our theme only once and get lifetime updates. We keep updating our products
                                                to stay up to date with latest trends and technology. </p>
                                            </div>
                                            <!-- End of .content -->
                                        </div>
                                        <!-- End of .col-4 -->
                                    </div>
                                    <!-- End of .row -->
                                </div>
                                <!-- End of .feature-content -->
                            </div>
                            <!-- End of .container -->
                        </section>
                </div>
            </div>
        </div>
    </div>
    <!-- {% load static %}
    <img src="{% static 'img\\download.jpg' %}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100"> -->
{% endblock %}
