{% extends "elements/base.html" %}
      
{% block page_content %}
    <div class="papr-container-main" style="transform: none;">
        <section class="banner banner__default bg-overlay">
            <div class="bg-category"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="post-title-wrapper" style="text-align:center">
                            <h1 class="m-b-xs-0 axil-post-title hover-line">Trends</h1><div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb" style="justify-content:center">
                            <span property="itemListElement" typeof="ListItem">
                                <a property="item" typeof="WebPage" title="Go to Home." href="/" class="home">
                                    <span property="name">Home</span></a><meta property="position" content="1"></span>
                                </a>
                                <meta property="position" content="2">
                            </span>
                            <span class="dvdr"> / </span><span class="archive taxonomy category current-item">Trends</span></nav>			
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section> 
    </div>
    <div class="papr-container-main">
        <div data-elementor-type="wp-page" data-elementor-id="18" class="elementor elementor-18" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-element elementor-element-68b9724 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="68b9724" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1818px; left: 0px;">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-6cc7c12 elementor-column elementor-col-100 elementor-top-column" data-id="6cc7c12" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-9a08bce elementor-widget elementor-widget-axilnews-post-grid" data-id="9a08bce" data-element_type="widget" data-widget_type="axilnews-post-grid.default">
                                            <div class="elementor-widget-container">
                                                <div class="axil-trending-news allow-custom-width-height">
                                                    
                                                    <div class="section-title m-b-xs-50" style="justify-content:center">
                                             
                                                       
                                                    
                                                    <div class="col-lg-3">
    
    
    
    <div class="input-group">
    <label class="label">Trend Date</label>
     
    <input type="text" name="daterange" placeholder="mm/dd/yyyy - mm/dd/yyyy" value="" style="margin-bottom:20px">
    <i class="fas fa-calendar input-icon js-btn-calendar" aria-hidden="true"></i></div>
    </div><form action="post">
                                                        
    
                                                        </form>
                                            </div>
                                        <div class="recent-news-holder row">
                                                       
                                                        <div class="col-lg-11 col-sm-10 col-md-10">
            <div id="post-1021" class="post-1021 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion-trends">
            <div class="media post-block post-block__mid m-b-xs-30">
            <a class="align-self-center" href="http://axilthemes.com/themes/papr/heres-all-the-fashion-news-you-already-missed/">
                
               
            <img class="m-r-xs-30 trends lazyloaded" src="/static/img/coronas.jpg" alt="gathering at home">    
            <div class="grad-overlay"></div>        
            </a>
            <div class="media-body">
            <div class="post-cat-group m-b-xs-10">
            <a class="post-cat cat-btn" style="background:#4c8ebc" href="http://axilthemes.com/themes/papr/category/fashion-trends/">
            Fashion Trends                </a>
            </div>
            <h3 class="axil-post-title hover-line"><a href="/date" class="entry-title" rel="bookmark">Penjelasan Para Ilmuwan soal Sifat Virus Corona dan Penyebarannya yang Ekstrem</a></h3>
            <div class="post-metas caption-meta">
            <ul class="list-inline">
            
            <li><i class="dot">.</i> August 8, 2019</li>
            </ul>
            </div>
            <p>These eight shots crystallize the hard work moms put into keeping their kids alive, happy, and healthy. They might give you the inspiration you need</p>
            </div>
            </div>
            <div class="media post-block post-block__mid m-b-xs-30">
            <a class="align-self-center" href="http://axilthemes.com/themes/papr/heres-all-the-fashion-news-you-already-missed/">
                
            <img class="m-r-xs-30 trends lazyloaded" src="/static/img/rspi.jpeg" data-src="https://cdn.shortpixel.ai/client/to_webp,q_lossless,ret_img/http://axilthemes.com/themes/papr/wp-content/uploads/2019/08/Home-04-banner-image-400x400.jpg" alt="gathering at home">    
            <div class="grad-overlay"></div>        
            </a>
            <div class="media-body">
            <div class="post-cat-group m-b-xs-10">
            <a class="post-cat cat-btn" style="background:#4c8ebc" href="http://axilthemes.com/themes/papr/category/fashion-trends/">
            Fashion Trends                </a>
            </div>
            <h3 class="axil-post-title hover-line"><a href="http://axilthemes.com/themes/papr/heres-all-the-fashion-news-you-already-missed/" class="entry-title" rel="bookmark">RSPI Sulianti Saroso Terima 1.000 Obat untuk Covid-19 dari Kementerian BUMN</a></h3>
            <div class="post-metas caption-meta">
            <ul class="list-inline">
            
            <li><i class="dot">.</i> August 8, 2019</li>
            </ul>
            </div>
            <p>These eight shots crystallize the hard work moms put into keeping their kids alive, happy, and healthy. They might give you the inspiration you need</p>
            </div>
            </div></div>
            </div>
                                                        
                                                            
                                            
                                                <div class="mt20 col-sm-12 col-xs-12 pagination-wrapper">
                                                                <div class="axil-post-pagination">
                                                                    <ul class="axil-post-pagination-holder" style="justify-content:center;">
                                                                        <li style="pointer-events:none; opacity: .6;" aria-disabled="true"><a href="#"><i class="fas fa-backward" aria-hidden="true"></i></a></li>
                                                                        <li class="active"><a href="#">1</a></li>
                                                                        <li><a href="#">2</a></li>
                                                                        <li><a href="#">3</a></li>
                                                                        <li><a href="#"> <i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div></section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



